<!-- <h1>Pages#index</h1> -->
<section class="jumbotron text-center">

    <h1 class="jumbotron-heading">View Users</h1>
    <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-primary" %>
<hr>

<h5 class="jumbotron-heading">
    <%= @users.count %>
   <%=  "User".pluralize(@users.count)%>.
   <hr>
</h5>

    <div class="container">
        <p class="text-muted">
            <% @users.each do |user| %>

                <h1> <%= user.name %> </h1>
                <%= user.email %>
                <hr>
            <% end %>
        </p>
    </div>

</section>
